{% extends 'memory_app/base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
    <h1 class="text-center py-4">Personalisation du Deck</h1>
    <div class="card mx-auto p-5 my-3" style="max-width: 32rem;">
        <div class="maincontainer card mx-auto mb-5">
            <div class="thecard">
                {% if deck.image %}
                    <div class="thefront card-body" style="background-image: url('{% get_static_prefix %}img/deck/{{ deck.get_image_name}}')">
                {% else %}
                    <div class="thefront card-body" style="background: {{ deck.color }}">
                {% endif %}
                Exemple Text
                </div>
            </div>
        </div>

        <form action="" method="post" class="form-example pb-4" onSubmit="return confirm('Etes vous sûr? Si une image a été selectionner, la couleur ne sera pas appliquer.');">{% csrf_token %}
            <fieldset>
              <div class="form-example">
                <label for="colorWell">Couleur :</label>
                <input type="color" value="{{ deck.color }}" id="colorWell" name="color">
              </div>
              <div class="form-example">
                <label for="colorTextWell">Couleur du Texte:</label>
                <input type="color" value="{{ deck.color_text }}" id="colorTextWell" name="color_text">
              </div>
              <div class="form-group">
                <label for="disabledSelect">Disabled select menu</label>
                <select id="disabledSelect" class="form-control change-image" name="image">
                    <option value="None">Image...</option>
                    {% for object in image %}
                        <option class="abcd" value="{{ object.pk }}" id="{{ object.pk }}">{{ object.name }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="form-example">
                <input type="submit" value="Customize !">
              </div>
            </fieldset>
        </form>
    </div>
{% endblock %}