{% extends 'memory_app/base.html' %}
{% load static %}

{% block content %}
    <header style="height: 50vh; background-image:url('{% static 'img/banner_2.jpg' %}')">
        <div class="container h-100">
            <a href="https://fr.vecteezy.com/vecteur-libre/3d"></a>
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">The Memory App</h1>
                    <hr class="divider my-4" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                </div>
            </div>
        </div>
    </header>

    <div>
        <h2 class="text-center">Deck</h2>
        <div class="row text-center mx-auto">
            {% for object in deck %}
                {% autoescape off %}
                <div class="col Deck">
                    <div class="maincontainer card">
                        <div class="thecard">
                            {% if object.image %}
                                <div class="thefront card-body" id="{{ object.pk }}" style="background-image: url('{% get_static_prefix %}img/deck/{{ object.get_image_name}}')">
                            {% else %}
                                <div class="thefront card-body" id="{{ object.pk }}" style="background: {{ object.color }}">
                            {% endif %}
                                <a href="{% url 'memory' deck=object.pk %}" class="card-title">
                                    <h3>{{object.name}}</h3>
                                </a>
                                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                    <button name="copy" type="submit" class="btn btn-primary" value={{ object.pk }}>Copy</button>
                                </form>
                                <a href="{% url 'deck_update' deck=object.pk %}">
                                    <button name="update" class="btn btn-primary">Update</button>
                                </a>
                                <a href="{% url 'customize-deck' deck=object.pk %}">
                                    <button name="customize" class="btn btn-primary">Customize</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endautoescape %}
            {% empty %}
                <div class="col align-self-center m-5">
                    <p>Désolé, vous n'avez pas encore de deck disponnible</p>
                </div>
            {% endfor %}
        </div>

        <h2 class="text-center">Deck Rapide</h2>
        <div class="row text-center mx-auto">
            {% for object in quick_deck %}
                {% autoescape off %}
                <div class="col QuickDeck">
                    <div class="maincontainer card">
                        <div class="thecard">
                            {% if object.image %}
                                <div class="thefront card-body" id="{{ object.pk }}" style="background-image: url('{% get_static_prefix %}img/deck/{{ object.get_image_name}}')">
                            {% else %}
                                <div class="thefront card-body" id="{{ object.pk }}" style="background: {{ object.color }}">
                            {% endif %}
                                <a href="{% url 'quickmode' deck=object.pk %}" class="card-title">
                                    <h3>{{object.name}}</h3>
                                </a>
                                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                    <button name="copy" type="submit" class="btn btn-primary" value={{ object.pk }}>Copy</button>
                                </form>
                                <a href="{% url 'deck_update' deck=object.pk %}">
                                    <button name="update" class="btn btn-primary">Update</button>
                                </a>
                                <a href="{% url 'customize-deck' deck=object.pk %}">
                                    <button name="customize" class="btn btn-primary">Customize</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endautoescape %}
            {% empty %}
                <div class="col align-self-center m-5">
                    <p>Désolé, vous n'avez pas encore de deck disponnible</p>
                </div>
            {% endfor %}
        </div>

        <h2 class="text-center">Ajouter un nouveau deck</h2>
        <div class="row">
            <div class="maincontainer mx-auto">
                <div class="thecard">
                    <div class="thefront card-body">
                        <a href="{% url 'update' %}" class="card-title">
                            <h3>Add New Deck</h3>
                        </a>
                    </div>
                </div>
            </div>

            <div class="maincontainer mx-auto">
                <div class="thecard">
                    <div class="thefront card-body">
                        <a href="{% url 'deck_search' %}" class="card-title">
                            <h3>Copy from a public deck</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}