{% extends 'memory_app/base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'deck_search' %}">Categories</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for category in categories %}
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'deck_search_category' category.slug %}">{{ category }}</a>
                    </li>
            {% endfor %}
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get">
            <input name="query" class="form-control mr-sm-2" id="navbar-input" type="text" placeholder="Rechercher" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
        <h2 class="text-center my-5" id="Deck">Deck</h2>
        <div class="row text-center mx-auto">
            {% for object in deck %}
                {% autoescape off %}
                {% if forloop.counter > 9 %}
                    <div class="col Deck-hidden" style="display: none;">
                {% else %}
                    <div class="col Deck">
                {% endif %}
                    <div class="maincontainer card mx-auto my-3">
                        <div class="thecard">
                            {% if object.image %}
                                <div class="thefront card-body" id="{{ object.pk }}" style="background-image: url('{% get_static_prefix %}img/deck/{{ object.get_image_name}}')">
                            {% else %}
                                <div class="thefront card-body" id="{{ object.pk }}" style="background: {{ object.color }}">
                            {% endif %}
                                <a href="{% url 'memory' deck=object.pk %}" class="card-title">
                                    <h3>{{object.name}}</h3>
                                </a>
                                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                    <button name="copy" type="submit" class="btn btn-primary" value={{ object.pk }}>Copy</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endautoescape %}
            {% empty %}
                <div class="col align-self-center m-5">
                    <p>Désolé, Il n'y a pas encore de deck disponnible</p>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-success btn-lg text-center viewMoreDeck">Voir plus</button>
        </div>

        <h2 class="text-center my-5" id="QuickDeck">Deck Rapide</h2>
        <div class="row text-center mx-auto pb-5">
            {% for object in quick_deck %}
                {% autoescape off %}
                {% if forloop.counter > 9 %}
                    <div class="col QuickDeck-hidden" style="display: none;">
                {% else %}
                    <div class="col QuickDeck">
                {% endif %}
                    <div class="maincontainer card mx-auto my-3">
                        <div class="thecard">
                            {% if object.image %}
                                <div class="thefront card-body" id="{{ object.pk }}" style="background-image: url('{% get_static_prefix %}img/deck/{{ object.get_image_name}}')">
                            {% else %}
                                <div class="thefront card-body" id="{{ object.pk }}" style="background: {{ object.color }}">
                            {% endif %}
                                <a href="{% url 'quickmode' deck=object.pk %}" class="card-title">
                                    <h3>{{object.name}}</h3>
                                </a>
                                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                    <button name="copy" type="submit" class="btn btn-primary" value={{ object.pk }}>Copy</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endautoescape %}
            {% empty %}
                <div class="col align-self-center m-5">
                    <p>Désolé, Il n'y a pas encore de deck disponnible</p>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-success btn-lg viewMoreQuickDeck">Voir plus</button>
        </div>
{% endblock %}