{% extends 'memory_app/base.html' %}
{% load static %}

{% block content %}
    <header style="height: 50vh; background-image:url('{% static 'img/banner.jpg' %}')">
        <div class="container h-100">
            <a href="https://fr.vecteezy.com/vecteur-libre/3d"></a>
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">The Memory App</h1>
                    <hr class="divider my-4" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <section id="about us">
            <h2>About the project</h2>
            <div>
                Jeune développeur et fan du contenu de Fabien Olicard, j'ai décidé de réadapté la Mémory Box en version
                application web pour mon projet final de ma formation chez OpenClassroom.
                Etant curieux d'apprendre de nouvelle chose tout les jours, notamment de nouvelle langues, cette application
                est faite pour permettre à tout ce qui veulent d'apprendre de nouvelles informations.
            </div>
        </section>

        <section id="method">
            <h2>La méthode</h2>
            <div>
                Les flashcards, c'est quoi ?

                Ce sont de petites fiches de révisions simplifiées avec, pour chacune, sa question et sa réponse, optimisées pour le fonctionnement du cerveau.
                Associées aux méthodes d'apprentissage de la Memory box, elles vous aideront à mémoriser rapidement, facilement et de manière ludique toutes les informations que vous avez toujours voulu retenir !
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3hAJr5jTxC0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <a href="https://amzn.to/2yRCtsD">La Memory Box</a>
        </section>

        <section id="fabien">
            <h2>Fabien Olicard</h2>
            <div>
                Curieux de tout, Fabien a toujours aimé comprendre les choses, les idées et les gens. Il se produit sur scène avec son 3ème spectacle mélangeant humour et mentalisme, réalise régulièrement des vidéos sur Youtube et transmet ses astuces de mentaliste dans ses différents livres.
                Captivant, pédagogue, vif et drôle, il aime surprendre et transmettre sa passion avec humour.
            </div>
        </section>

        <section class="page-section" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Contactez-nous !</h2>
                        <hr class="divider my-4" />
                        <p class="mb-5">Si vous avez une question par rapport à l'application</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                        <div>00 000 000 000</div>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                        <a class="d-block" href="mailto:mail@mail.com">boukobza.nathan@gmail.com</a>
                    </div>
                </div>
            </div>
        </section>
    </div>


{% endblock %}