{% extends 'memory_app/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <div class="alert alert-success" role="alert" style="display: none">
                    Congrats !
                </div>
                <div class="alert alert-danger" role="alert" style="display: none">
                    It's ok, you'll get it next time !
                </div>

                <div class="maincontainer card">
                    <div class="thecard">
                        <div class="thefront card-body">
                            <div class="card-title text-center">{{ recto }}</div>
                        </div>
                        <div class="theback card-body">
                            <div class="card-title text-center">{{ recto }}</div>
                        </div>
                    </div>
                </div>

                <form id="checkMemory" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <input id="post-text" class="form-control" aria-describedby="checkMemory" placeholder="Enter your answer">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                <button type="button" id="next" class="btn btn-success btn-lg" style="display: none">next</button>
            </div>
        </div>
    </div>

{% endblock %}

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>