{% extends 'memory_app/base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
    <div class="container">
        <div>
            <div class="mx-auto pt-5">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <div class="alert alert-success" role="alert" style="visibility: hidden;">
                    Congrats !
                </div>
                <div class="alert alert-danger" role="alert" style="visibility: hidden;">
                    It's ok, you'll get it next time !
                </div>

                <div class="maincontainer card mx-auto mb-4">
                    <div class="thecard">
                        {% if deck.image %}
                            <div class="thefront card-body" style="background-image: url('/{{ object.image.image }}')">
                        {% else %}
                            <div class="thefront card-body" style="background: {{ deck.color }}">
                        {% endif %}
                            <div class="card-title text-center my-5 front-text" style="color: {{ deck.color_text }};">{{ recto }}</div>
                        </div>

                        {% if deck.image %}
                            <div class="theback card-body" style="background-image: url('/{{ object.image.image }}')">
                        {% else %}
                            <div class="theback card-body" style="background: {{ deck.color }}">
                        {% endif %}
                            <div class="card-title text-center my-5 back-text" style="color: {{ deck.color_text }};">{{ recto }}</div>
                        </div>
                    </div>
                </div>

                <form id="checkMemory" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <input id="post-text" class="form-control" aria-describedby="checkMemory" placeholder="Enter your answer">
                  </div>
                </form>

                <button type="button" id="next" class="btn btn-success btn-lg" style="display: none">next</button>
            </div>
        </div>
    </div>

{% endblock %}