{% extends 'memory_app/base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
    <h1 class="text-center pt-5">{{ title }}</h1>
    <div class="card mx-auto my-3" style="width: 32rem;">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="p-5">
                {{ form.as_p }}
                <input type="submit" name="submit" class="btn btn-primary" value="SUBMIT"/>
            </div>
        </form>
    </div>
{% endblock %}
