.maincontainer{
    position: relative;
    width: 280px;
    height: 180px;
    background: green;
    border-radius: 20px;
}

.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style:  preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
    border-radius: 20px;
}

.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc728;
    color: #333;
    border-radius: 20px;
}

.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #fafafa;
    color: #333;
    transform: rotateY(180deg);
    border-radius: 20px;
}

.thecard_rotate{
    transform: rotateY(180deg);
}
